*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width:none;
}

.App {
  background-color: #fffde4;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100%;
}
