:root {
  --main-lght: #fffde4;
  --main-drk: #000000;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.App {
  background-color: #fffde4;
  min-height: 100vh;
  min-width: 100vw;
}




